body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
  /* background-repeat: repeat; */
  background-size: cover;
  font-family: 'open sans',arial,sans-serif;
  background-image: url('https://images.unsplash.com/photo-1517935706615-2717063c2225?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1601&q=80');
}

footer {
  text-align: center;
  color: whitesmoke;
  height: 30px;
  width: 100%;
  bottom: 50px;
  margin-bottom: 2%;
  position: relative;
}

i.icon.arrow.up:before {
  margin-left: 20px;
}

h1, h2 h3 {
  font-family: 'open sans',arial,sans-serif;
  font-weight: 400;
}

h4 {
  padding-bottom: 5%;
  margin-bottom: 3%;
  border-bottom: 1px solid grey;
}

.ui.fluid.selection.dropdown {
  margin-top: 10%;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10%;
}

.range-values-hotel {
  display: flex;
  margin-left: 12%;
  margin-top: 6%;
  margin-bottom: 10%;
}

.range-values-food {
  display: flex;
  margin-left: 30%;
  margin-top: 2%;
  margin-bottom: 4%;
}

.range-values-rating {
  display: flex;
  margin-left: 32%;
  margin-top: 3%;
  margin-bottom: 3%;
  align-items: center;
}



#slider {
  width: 250px;
}

#rating-slider {
  margin-top: 3%;
  width: 250px;
}

#rating-h3 {
  margin-top: 3%;
  margin-bottom: 3%;
}

#food-slider {
  width: 150px;
}

.scale {
  margin-left: 5px;
}

.center-screen {
  text-align: center;
  padding-top: 30%;
}

#finalize-trip {
  text-align: center;
  padding-top: 3%;
}

Form {
  width: 70%;
  line-height: 40px;
  margin-bottom: 10px;
}

#create-trip {
  margin: 20px;
}

#days {
  margin-left: 35%;
  margin-top: 40px;
  width: 30%;
}

#embed-map {
  height: 100%;
  display: fixed;
  margin-left: 2%;
}

#result-map {
  height: 600px;
  width: 760px;
}

.eight.wide.column {
  height: inherit;
  padding-left: 2%;
}

.one.column.row {
  width: inherit;
  padding: 2%;
}

div#hotel-cards.ui.card {
  min-height: 490px;
  max-height: 490px;
  max-width: 266px;
  margin-bottom: 10px;
} 

.ui.stackable.four.column.grid {
  top: -20%;
  text-align: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.centerText {
  align-content: center;
}

#divider {
  width: 100%;
  padding-bottom: 15px;
  margin-top: 3%;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

.ui.massive.button {
  font-size: 1.5rem
}

.hotels-map {
  padding-left: 2%;
}

Button {
  margin-top: 10px;
}

#price-box {
  color: orange;
  padding-bottom: 10px;
}

.header {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 50px;
  min-height: 50px;
}

.description {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 80px;
  min-height: 80px;
  font-size: 13px;
}

.description::-webkit-scrollbar { 
  display: none;
}

.header::-webkit-scrollbar { 
  display: none;
}

#main::-webkit-scrollbar { 
  display: none;
}

#main2::-webkit-scrollbar { 
  display: none;
}

#restaurant::-webkit-scrollbar { 
  display: none;
}

div#activity-cards.ui.card {
  min-height: 450px;
  max-height: 450px;
  margin-bottom: 10%;
  max-width: 280px;
}

#main {
  padding: 3%;
  background-color: #fbfbfbe0;
  border-radius: 25px 25px 25px 25px;
  margin-right: 2%;
  min-height: 520px;
  max-height: 520px;
  width: 95%;
  max-width: 500px;
  margin-top: 30px;
  overflow: scroll;
  overflow-x: hidden;
}

#main2 {
  margin-top: 15px;
  padding: 3%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fbfbfbe0;
  border-radius: 25px 25px 25px 25px;
  min-height: 850px;
  max-height: 1250px;
  width: 95%;
  max-width: 1440px; 
  margin-bottom: 2%;
  overflow: scroll;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 50px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  color: rgb(82, 80, 80);
  display: inline-block;
  padding-bottom: 5px;
}

header h5 {
  margin-top: 8px!important;
  margin-right: 10px;
}

.ui.inverted.menu {
  background-color: rgba(137, 136, 136, 0.77);
}

#progression-num {
  background-color: rgba(32, 178, 171, 0.603);
  width: fit-content;
  padding: 5%;
  border-radius: 47%;
  color: white;
}

#dest-form {
  margin-left: 25%;
}

#up-button {
  padding-left: 12px;
}

.centered {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#space-below {
  margin-bottom: 50px;
}

.i.icon {
  padding-top: 40px;
  color: rgba(0, 0, 0, 0.712);
  font-size: 25px;
}

.zoom {
  font-size: 15px;
  transition: transform .2s;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(3.5); 
}

.map-section {
  height: 95vh;
}

.trip-section {
  padding-top: 2%;
  max-height: 950px;
  height: 100vh;
  text-align: center;
  zoom: 75%;
}

#progression-num {
  margin-bottom: 5%;
}

#spaced-lines {
  line-height: 500%;
}

button#up {
  background: transparent;
}

#hotel-msg {
  width: 100%;
  padding: 2%;
}

#up-arrow{
  background-color: rgba(190, 201, 200, 0.705);
  border-radius: 48%;
  height: 60px;
  width: 70px;
  padding-top: 15px;
  padding-left: 5px;
}

.gm-style {
  border: 2px solid rgb(54, 53, 53)!important;
}

.result-title {
  text-align: center;
  padding-top: 50px;
  font-size: 60px;
  font-weight: 600;
  color: rgba(29, 29, 29, 0.8);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-right: 5%;
  margin-left: 5%;
  display: inline-block;
  width: 90%;
  zoom: 80%;
}

.ui.grid {
  margin-top: 1%;
  position: relative;
  margin-bottom: 3%;
}

.ui.card>.image:not(.ui)>img, .ui.cards>.card>.image:not(.ui)>img {
  border: none;
  height: 240px;
}

.ui.grid>[class*="four wide"].column {
  padding-left: 3%;
}

.restaurant-card {
  min-height: 400px;
  margin-bottom: 5%;
  max-width: 280px;
}

#restaurant.content {
  height: 130px;
  overflow: scroll;
}

#tab-msg {
  width: 100%;
  border-bottom: 1px solid grey;
  margin-bottom: 4%;
  padding-bottom: 3%;
}

.ui.attached:not(.message)+.ui.attached.segment:not(.top) {
  border-top: none;
  background-color: rgba(90, 88, 88, 0.096);
}

.ui.tabular.menu .active.item {
  background: none rgba(90, 88, 88, 0.096);
}

#result-title-number {
  margin-top: 40px;
  font-size: 1.8em;
  line-height: 1em;
  position: relative;
  z-index: 1;
  color: rgb(0, 0, 0);
}


#result-title-mid {
  font-size: 1em;
  letter-spacing: 0;
  color: rgba(221, 150, 42, 0.89);
}

#result-dest {
  margin-left: 10px;
  font: 2.5em "Museo 700";
  letter-spacing: 1px;
  display: inline-flex;
  margin-bottom: 30px;
}

#trips-column {
  margin-top: -30px;
  margin-bottom: 20px; 
  font: 2.4em "Museo 700";
}

#create-trip-button {
  float: right;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: rgba(32, 178, 171, 0.85);
  padding: 15px 15px;
  color: white;
  border-radius: 5px;
  font-size: 18px;
}

.landing {
  text-align: center;
  background-color: white;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 30px;
  padding-bottom: 8%;
  color: rgb(65, 63, 63);
}

#return-button {
  margin-top: 30px;
}

.hero {
  padding: 5%;
  min-height: 600px;
  padding-top: 8em;
  width: 100%;
  display: inline-block;
  color: rgba(65, 63, 63, 0.954);
}

.col {
  float: left;
  width: 50%;
  padding: 10px;
  text-align: left;
}

.hero:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  .col {
    width: 100%;
  }

  .col .greeting {
    color: #fbfbfbe0;
    margin: auto;
    padding: 5%;
    width: 91%;
    border-radius: 10px;
    background-color: #525050d3;  }

  #right-top-bottom.col {
    text-align: center;
    border-top: 1px solid orange;
    border-bottom: none;
    margin-top: 5%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
  }

  #left-mid.col {
    margin-top: 3%;
    margin-bottom: 5%;
    padding: 0 0 10px 0; 
    border-bottom: 1px solid orange;
    text-align: center;
  }

  #right-top-bottom.col h3 {
    border-bottom: none;
    padding-bottom: 0;
  }
  
  #left-mid.col h3 {
    border-bottom: none;
    padding-bottom: 0;
  }

  .result-title {
    font-size: 6vw;
  }

  .result-main {
    height: 480px;
  }


  .result-right {
    margin-top: 40px;
    width: 100%!important;
  }

  .ui.card {
    margin: auto;
  }

  body {
    background-size: inherit;
  }

  .fb {
    font-size: 3vw;
  }

  #create-trip-button {
    float: none;
    margin-top: -10px;
    margin-bottom: 10px;
  }

}

.greeting {
  margin-top: 15%;
  margin-left: 12%;
}

.login {
  margin: auto;
  text-align: center;
  max-width: 400px;
  min-width: 150px;
  padding: 7%;
  background-color: #fbfbfbe0;
  border-radius: 25px 25px 25px 25px;
  min-height: 420px;
  max-height: 420px;
  color: rgb(65, 63, 63);
}

.image-landing {
  border: none;
  height: 210px;
}

.landing-cards {
  height: 300px;
  min-width: 185px;
  width: 19%;
  margin-bottom: 2%;
}

.description-landing {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 20px;
  min-height: 20px;
  font-size: 13px;
}

.description-landing::-webkit-scrollbar { 
  display: none;
}

.landing-img {
  width: 100%;
  height: 100%;
}

div#landing-grid.ui.stackable.four.column.grid {
  top: 0!important;
  min-height: 400px;
  margin-bottom: -6%;
  margin-top: 30px;
}

div#land-card.ui.card {
  box-shadow: none;
}

div#land.header {
  color: rgb(65, 63, 63);
}

.grid-container {
  text-align: left;
  display: grid;
  grid-template-rows: 34% 34% 34%;
  grid-gap: 10px;
}

.grid-rows {
  width: 100%;
  display: inline-block;
}

#right-top-bottom {
  margin-top: 7%;
  text-align: right;
  padding: 50px;
}

#right-top-bottom h3 {
  border-bottom: 1px solid orange;
  padding-bottom: 20px;
}

#left-mid h3 {
  border-bottom: 1px solid orange;
  padding-bottom: 20px;
}

#left-mid {
  text-align: left;
  margin-top: 7%;
  padding: 50px;
}

.landing-footer {
  padding: 40px;
  text-align: right;
  height: 100px;
  background-color: rgba(137, 136, 136, 0.77);
}

.screenshots {
  max-width: 100%;
}

#create-trip-button-landing {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(32, 178, 171, 0.85);
  padding: 15px 20%;
  font-size: 2rem;
  border-radius: 3px;
  user-select: none;
  color: white;
}

#remove-btn {
  margin: 8px;
  padding: 6px;
  margin-left: -15%;
}

#rating-message {
  margin-top: 3%; 
}

.greeting h1 {
  font-weight: 600;
}

.result-main {
  min-height: 600px;
  width: 100%;
  display: inline-block;
  color: rgba(29, 29, 29, 0.863)
}

.result-main:after {
  content: "";
  display: table;
  clear: both;
}

.result-left {
  float: left;
  width: 24%;
  padding: 10px;
  text-align: center;
  margin-top: 4.8%;
}

.result-right {
  float: left;
  width: 76%;
  padding: 10px;
  text-align: center; 
}

h5#trips-column {
  letter-spacing: 1.5px;
  display: inline-block;

}

.right.menu {
  font-size: 50%;
}

#list.ui.card {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  cursor: pointer;
}

#trip-card.ui.card {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#trip-list-image {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.rating-div {
  background-color: lightblue;
  border: 1px solid white;
  width: 30%;
  display: inline-block;
  margin: 1%;
  padding: 2%;
}

.highscore-div {
  display: inline-block;
  text-align: left;
  padding: 1%;
  margin-top: 4%;
  background: rgba(255, 255, 255, 0.438);
  width: 60%;
  height: 90%;
}


.result-title-div {
  zoom: 80%;
  margin-right: -40%;
}

.panes {
  margin-top: -3%;
}

.highscore-div-main {
  margin: auto;
  margin-top: 10%; 
  text-align: center;
  max-width: 500px;
  min-width: 150px;
  padding: 1%;
  background-color: #fbfbfbe0;
  border-radius: 25px 25px 25px 25px;
  min-height: 420px;
  max-height: 420px;
  color: rgb(65, 63, 63);
}

.ranking-buttons {
  margin-top: 5%;
  padding: 1%;
}


.ranking-title {
  margin-top: 5%;
  padding: 1%;
}