body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
  background-repeat: repeat;
  background-size: cover;
  font-family: 'open sans',arial,sans-serif;
  background-image: url('https://images.unsplash.com/photo-1517935706615-2717063c2225?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1601&q=80');
}

footer {
  text-align: center;
  color: whitesmoke;
  height: 30px;
  width: 100%;
  bottom: 50px;
  margin-bottom: 2%;
  position: relative;
}

i.icon.arrow.up:before {
  margin-left: 20px;
}

h1, h2 h3 {
  font-family: 'open sans',arial,sans-serif;
  font-weight: 400;
}

h4 {
  padding-bottom: 5%;
  margin-bottom: 3%;
  border-bottom: 1px solid grey;
}

.ui.fluid.selection.dropdown {
  margin-top: 10%;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10%;
}

.range-values-hotel {
  display: flex;
  margin-left: 12%;
  margin-top: 6%;
  margin-bottom: 10%;
}

.range-values-food {
  display: flex;
  margin-left: 30%;
  margin-top: 2%;
  margin-bottom: 4%;
}

.range-values-rating {
  display: flex;
  margin-left: 32%;
  margin-top: 3%;
  margin-bottom: 3%;
  align-items: center;
}



#slider {
  width: 250px;
}

#rating-slider {
  margin-top: 3%;
  width: 250px;
}

#rating-h3 {
  margin-top: 3%;
  margin-bottom: 3%;
}

#food-slider {
  width: 150px;
}

.scale {
  margin-left: 5px;
}

.center-screen {
  text-align: center;
  padding-top: 30%;
}

#finalize-trip {
  text-align: center;
  padding-top: 3%;
}

Form {
  width: 70%;
  line-height: 40px;
  margin-bottom: 10px;
}

#create-trip {
  margin: 20px;
}

#days {
  margin-left: 35%;
  margin-top: 40px;
  width: 30%;
}

#embed-map {
  height: 100%;
  display: fixed;
  margin-left: 2%;
}

#result-map {
  height: 600px;
  width: 760px;
}

.eight.wide.column {
  height: inherit;
  padding-left: 2%;
}

.one.column.row {
  width: inherit;
  padding: 2%;
}

div#hotel-cards.ui.card {
  min-height: 490px;
  max-height: 490px;
  max-width: 266px;
  margin-bottom: 2%;
} 

.ui.stackable.four.column.grid {
  top: -20%;
  text-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 570px;
  /* padding: 2%; */
}

.centerText {
  align-content: center;
}

#divider {
  width: 100%;
  padding-bottom: 15px;
  margin-top: 3%;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

.hotels-map {
  padding-left: 2%;
}

Button {
  margin-top: 10px;
}

#price-box {
  color: orange;
  padding-bottom: 10px;
}

.header {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 50px;
  min-height: 50px;
}

.description {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 80px;
  min-height: 80px;
  font-size: 13px;
}

.description::-webkit-scrollbar { 
  display: none;
}

.header::-webkit-scrollbar { 
  display: none;
}

#main::-webkit-scrollbar { 
  display: none;
}

div#activity-cards.ui.card {
  min-height: 450px;
  max-height: 450px;
  margin-bottom: 10%;
  max-width: 280px;
}

#main {
  padding: 3%;
  background-color: #fbfbfbe0;
  border-radius: 25px 25px 25px 25px;
  margin-right: 2%;
  min-height: 520px;
  max-height: 520px;
  width: 500px;
  margin-top: 30px;
  overflow: scroll;
  overflow-x: hidden;
}

#main2 {
  margin-top: 1%;
  padding: 3%;
  margin-right: 15px;
  background-color: #fbfbfbe0;
  border-radius: 25px 25px 25px 25px;
  min-height: 650px;
  max-width: 1440px;
  margin-bottom: 2%;
  overflow: scroll;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 50px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  color: rgb(82, 80, 80);
  display: inline-flex;
  padding-bottom: 5px;
}

header h5 {
  padding-top: 5px;
  margin-right: 10px;
}

.ui.inverted.menu {
  background-color: rgba(204, 198, 198, 0.77);
}

#progression-num {
  background-color: rgba(32, 178, 171, 0.603);
  width: fit-content;
  padding: 5%;
  border-radius: 47%;
  color: white;
}

#dest-form {
  margin-left: 25%;
}

#up-button {
  padding-left: 12px;
}

.centered {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#space-below {
  margin-bottom: 50px;
}

.i.icon {
  padding-top: 40px;
  color: rgba(0, 0, 0, 0.712);
  font-size: 25px;
}

.zoom {
  font-size: 15px;
  transition: transform .2s;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(3.5); 
}

.map-section {
  height: 95vh;
}

.trip-section {
  padding-top: 2%;
  max-height: 950px;
  height: 100vh;
  text-align: center;
}

#progression-num {
  margin-bottom: 5%;
}

#spaced-lines {
  line-height: 500%;
}

button#up {
  background: transparent;
}

#hotel-msg {
  width: 100%;
  padding: 2%;
  border-bottom: 1px solid grey;
}

#up-arrow{
  background-color: rgba(190, 201, 200, 0.705);
  border-radius: 48%;
  height: 60px;
  width: 70px;
  padding-top: 15px;
  padding-left: 5px;
}

.gm-style {
  border: 2px solid rgb(54, 53, 53)!important;
}

.result-title {
  text-align: center;
  padding-top: 5%;
  font-size: 50px;
  font-weight: 600;
  color: rgba(29, 29, 29, 0.719);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-right: 5%;
  margin-left: 5%;
  display: inline-block;
  width: 90%;
}

.ui.grid {
  margin-top: 1%;
  position: relative;
  margin-bottom: 3%;
}

.ui.card>.image:not(.ui)>img, .ui.cards>.card>.image:not(.ui)>img {
  border: none;
  height: 240px;
}

.ui.grid>[class*="four wide"].column {
  padding-left: 3%;
}

.restaurant-card {
  min-height: 400px;
  margin-bottom: 5%;
  max-width: 280px;
}

#tab-msg {
  width: 100%;
  border-bottom: 1px solid grey;
  margin-bottom: 4%;
  padding-bottom: 3%;
}

.ui.attached:not(.message)+.ui.attached.segment:not(.top) {
  border-top: none;
  background-color: rgba(90, 88, 88, 0.096);
}

.ui.tabular.menu .active.item {
  background: none rgba(90, 88, 88, 0.096);
}

#result-title-number {
  margin-top: 40px;
  font-size: 3.5em;
  line-height: 1em;
  position: relative;
  z-index: 1;
  color: rgba(29, 29, 29, 0.719);
}


#result-title-mid {
  font-size: 25px;
  letter-spacing: 0;
  color: rgba(214, 162, 83, 0.719);
}

#result-dest {
  margin-left: 10px;
  font: 2.5em "Museo 700";
  letter-spacing: 3px;
  display: inline-flex;
}

#result-underline{
  margin-left: 20px;
}

#trips-column {
  margin-top: -30px;
  margin-bottom: 20px; 
}

#create-trip-button {
  margin-left: 80%;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: rgba(32, 178, 171, 0.466);
  padding: 15px 15px;
  font-size: 1.4rem;
  border-radius: 3px;
  text-decoration: none;
  user-select: none;
  color: white;
}

.landing {
  text-align: center;
  background-color: white;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 8%;
  color: rgb(65, 63, 63);
}

#return-button {
  margin-top: 30px;
}

.hero {
  height: 600px;
  padding-top: 8em;
  width: 100%;
  display: inline-block;
  color: rgba(65, 63, 63, 0.954);
}

.greeting {
  margin-top: 8%;
  width: 40%;
  float: left;
  margin-left: 15%;
}

.login {
  text-align: center;
  margin-left: 55%;
  width: 30%;
  min-width: 200px;
  padding: 3%;
  background-color: #fbfbfbe0;
  border-radius: 25px 25px 25px 25px;
  min-height: 420px;
  max-height: 420px;
  color: rgb(65, 63, 63);
}

.image-landing {
  border: none;
  height: 210px;
}

.landing-cards {
  height: 300px;
  max-width: 250px;
  margin-bottom: 2%;
}

.description-landing {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 20px;
  min-height: 20px;
  font-size: 13px;
}

.description-landing::-webkit-scrollbar { 
  display: none;
}

.landing-img {
  width: 230px;
  min-height: 210px;
  max-height: 210px;
}

div#landing-grid.ui.stackable.four.column.grid {
  top: 0!important;
  min-height: 400px;
  margin-bottom: -6%;
  margin-top: 2%;
}

div#land-card.ui.card {
  box-shadow: none;
}

div#land.header {
  color: rgb(65, 63, 63);
}

.grid-container {
  text-align: left;
  display: grid;
  grid-template-rows: 34% 34% 34%;
  grid-gap: 10px;
}

.grid-rows {
  width: 100%;
  display: inline-block;
}

.left {
  float: left;
  max-width: 56%;
}

.right-top-bottom {
  margin-top: 16%;
  text-align: right;
  width: 40%;
  float: right;
  padding-bottom: 20px;
  border-bottom: 1px solid orange;
}

.left-mid {
  text-align: left;
  margin-top: 16%;
  float: left;
  width: 40%;
  padding-bottom: 20px;
  border-bottom: 1px solid orange;
}

.right-mid {
  float: right;
  max-width: 56%;
}

.landing-footer {
  padding: 40px;
  text-align: right;
  height: 100px;
  background-color: rgb(204, 198, 198);
}

.screenshots {
  padding-top: 35px;
  max-width: 100%;
}

#create-trip-button-landing {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(32, 178, 171, 0.603);
  padding: 15px 20%;
  font-size: 2rem;
  border-radius: 3px;
  user-select: none;
  color: white;
}

#remove-btn {
  margin: 8px;
  padding: 6px;
  margin-left: -15%;
}

#rating-message {
  margin-top: 3%; 
}

.greeting h1 {
  font-weight: 600;
}

.rating-item {
  background-color: blue;
}

.rating-div {
  background-color: green;
}