body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
  background-image: url('https://images.unsplash.com/photo-1517935706615-2717063c2225?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1601&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'open sans',arial,sans-serif;
}

footer {
  text-align: center;
  color: whitesmoke;
  height: 30px;
  width: 100%;
  bottom: 50px;
  margin-bottom: 2%;
  position: relative;
}

i.icon.arrow.up:before {
  margin-left: 20px;
}

h1, h2 h3 {
  font-family: monospace;
  font-weight: 400;
}

h4 {
  padding-bottom: 5%;
  margin-bottom: 3%;
  border-bottom: 1px solid grey;
}

.ui.fluid.selection.dropdown {
  margin-top: 10%;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10%;
}

.range-values-hotel {
  display: flex;
  margin-left: 12%;
  margin-top: 6%;
  margin-bottom: 10%;
}

.range-values-food {
  display: flex;
  margin-left: 30%;
  margin-top: 2%;
  margin-bottom: 4%;
}

#slider {
  width: 250px;
}

#food-slider {
  width: 150px;
}

.scale {
  margin-left: 5px;
}

.center-screen {
  text-align: center;
  padding-top: 30%;
}

#finalize-trip {
  text-align: center;
  padding-top: 3%;
}

Form {
  width: 70%;
  line-height: 40px;
  margin-bottom: 10px;
}

#create-trip {
  margin: 20px;
}

#days {
  margin-left: 35%;
  margin-top: 40px;
  width: 30%;
}

#embed-map {
  height: 100%;
  display: fixed;
  margin-left: 2%;
}

#result-map {
  height: 600px;
  width: 760px;
}

.eight.wide.column {
  height: inherit;
  padding-left: 2%;
}

.one.column.row {
  width: inherit;
  padding: 2%;
}

div#hotel-cards.ui.card {
  min-height: 470px;
  max-height: 470px;
} 

.ui.stackable.four.column.grid {
  margin-top: 25px;
  text-align: center;
}

.centerText {
  align-content: center;
}

#divider {
  color: white;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 35px;
  margin-bottom: 20px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.hotels-map {
  margin-top: 3%;
  width: 600px;
}

Button {
  margin-top: 10px;
}

#price-box {
  color: orange;
  padding-bottom: 10px;
}

.description {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 130px;
  min-height: 130px;
}

.description::-webkit-scrollbar { 
  display: none;
}

div#activity-cards.ui.card {
  height: auto;
}

#main {
  padding: 3%;
  background-color: #fbfbfbe0;
  border-radius: 25px 25px 25px 25px;
  margin-right: 2%;
  min-height: 500px;
  width: 500px;
  margin-top: 30px;
  overflow: scroll;
}

#main::-webkit-scrollbar { 
  display: none;
}

header {
  background-color: rgba(0, 0, 0, 0.144);
  width: 100%;
  height: 40px;
  padding-left: 2%;
  padding-top: 10px;
  color: white;
  float: left;
}

#progression-num {
  background-color: rgba(32, 178, 171, 0.603);
  width: fit-content;
  padding: 5%;
  border-radius: 47%;
  color: white;
}

#dest-form {
  margin-left: 25%;
}

#up-button {
  padding-left: 12px;
}

.centered {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#space-below {
  margin-bottom: 50px;
}

.i.icon {
  padding-top: 40px;
  color: rgba(0, 0, 0, 0.712);
  font-size: 25px;
}

.zoom {
  font-size: 15px;
  transition: transform .2s;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(3.5); 
}

.map-section {
  height: 95vh;
}

.trip-section {
  max-height: 950px;
  height: 100vh;
}

#progression-num {
  margin-bottom: 5%;
}

#spaced-lines {
  line-height: 500%;
}

button#up {
  background: transparent;
}
